/*белый цвет #FFFFFF*/
/*основные заголовки: черный цвет #212121*/
/*основной серый #757575*/
/*вторичный цвет фона #F5F4FA*/
/*синий цвет #2196F3*/
/*фон футера #2F303A*/

:root {
  --primer-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
}
img {
  display: block;
  height: auto;
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
li,
a {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*container*/

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.accent {
  position: relative;
}
.accent::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}
.work-service {
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  align-items: center;
  text-transform: uppercase;
  color: var(--white-color);
  bottom: 0;
  right: 0;
  display: flex;
  position: absolute;
  background-color: #2f303acc;
  justify-content: center;
}

.work-list .work-item {
  position: relative;
}
.info {
  height: 294px;
  width: 100%;
  background-color: #2196f3e5;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 63px 24px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);
}

.project .item:hover .info {
  opacity: 1;
  transform: translateY(0);
}

.contact-icon {
  fill: #757575;
  margin-right: 10px;
}
.link:hover,
.smartphone-icon {
  fill: var(--accent-color);
}

.icon-envelope {
  width: 16px;
  height: 12px;
  fill: #757575;
  display: block;
  align-items: center;
  margin-right: 10px;
}
.icon-envelope:hover {
  fill: var(--accent-color);
}
.icon .letter {
  color: var(--primer-color);
}
.icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;

  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}
.icon:hover {
  background-color: #2196f3;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.feature-background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-link {
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  align-items: center;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-link:hover .contact-icon {
  fill: var(--accent-color);
}
.company-list{
  display: flex;
    gap: 30px;
    justify-content: center;
}

.company-icon:hover {
  fill: var(--accent-color);
}
.social-icon {
  display: block;
  fill: #AFB1B8;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}
.social-link {
      width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
  transition-duration: 250ms;
}
.company-section{
  padding-top: 94px;
    padding-bottom: 94px
}
.company-title{
      color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px
}

.company-item:hover {
  border-color: var(--accent-color);
}
.company-link {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
}

.company-icon {
  fill: #afb1b8;
}

.company {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.company-link:hover,
.company-link:focus {
  border-color: var(--accent-color);
}
.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--accent-color);
}

.page-header {
  border-bottom: solid 1px #ececec;
}

.content {
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
  border-left: solid 1px #eeeeee;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.main-nav {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.priority-logo {
  display: flex;
  transition-duration: 250ms;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.half-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.navigation {
  margin-left: 93px;
}

.navigation-list {
  display: flex;
}
.navigation-list .navigation-item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.nav-button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.navigation-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  transition-duration: 250ms;
  padding-bottom: 32px;
  padding-top: 32px;
}
.link:focus,
.link:hover {
  color: var(--accent-color);
}
.contact-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  transition-duration: 250ms;
}

.section-hero {
  background-image: linear-gradient(to right, #2f303a66),
    url(../images/background-image.jpg);

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--white-color);
  /* background-color: #2f303a; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.work-list {
  gap: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
  text-align: center;
  margin-top: 50px;
}
.command-item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.command-employees {
  padding-top: 30px;
  padding-bottom: 30px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}
.feature-list .feature-item {
  width: 270px;
}

.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin-top: 30px;
}

.feature-text {
  color: var(--primer-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
.section-work {
  padding-bottom: 94px;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
}

.second-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.second-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.section-command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.command-person {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.command-description {
  color: var(--primer-color);
  font-size: 16px;
  line-height: 100%;
  margin-top: 10px;
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project .categories {
  color: var(--primer-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
}
.project .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.thirs-logo {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
}
.footer .home-adress {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 25px;
}
.home-adress {
  transition-duration: 250ms;
}
.last-nav {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
  transition-duration: 250ms;
}
.last-nav:focus,
.last-nav:hover {
  color: #2196f3;
}
.address {
  margin-top: 20px;
}

.footer-nav {
  margin-right: 70px;
  width: 321px;
}

.home-link .item {
  margin-top: 9px;
}
.accent {
  color: var(--accent-color);
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
.social.title {
  text-align: center;
}
.footer-social {
  margin-bottom: 12px;
}
.company-container {
  max-width: 100%;
}
.footer-link {
  display: flex;

  gap: 10px;
}
.footer-logo {
  transition-duration: 250ms;
}
.social-footer {
  fill: var(--white-color);
}
.project .item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.project .item {
  position: relative;
}

.footer-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: block;
  background-color: #ffffff1a;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
}
.footer-icon:hover {
  background-color: #2196f3;
}
.social-title {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 22px;
}
.contact:hover {
  color: var(--accent-color);
}
.footer-container {
  display: flex;
}

.project-thumb {
  position: relative;
  overflow: hidden;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000001a;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid #0000001a;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.form {
  margin-left: 93px;
}
.form-fields label {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 22px;
}
.form-fields {
  display: block;
  flex-direction: column;
}
.form-fields input {
  display: block;
  border-radius: 4px;
  border: 1px solid #ffffff4d;
  background-color: #2f303a;
  color: var(--white-color);
  width: 358px;
  height: 50px;
  padding: 15px 16px;
}
.form-field input::placeholder {
  margin-left: 15px;
}
.subscribe {
  display: flex;
  background-color: var(--accent-color);
  color: var(--white-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding: 10px 28px;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;
}
.subscribe-button {
  display: flex;
  margin-top: 20px;
}
.form-fields input:focus {
  outline: none;
}
.icon-send {
  margin-left: 10px;
  fill: var(--white-color);
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
}
.form-title {
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
.form-label {
  margin-bottom: 4px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: var(--primer-color);
}
.form-input {
  border: 1px solid #21212133;
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}
.agreement-link {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
  margin-left: 5px;
}
.form-textarea {
  height: 120px;
  width: 100%;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.form-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primer-color);
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form-button {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  border: none;
  color: var(--white-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
}
.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 12px;
  fill: #000000;
}
.form-field {
  position: relative;
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #2196f3;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
  border-color: #2196f3;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid black;
  margin-right: 7px;
  background-origin: border-box;
  background-size: contain;
}

.checkbox-input:checked + .check-icon {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.button-option {
  display: flex;
  justify-content: center;
}

.modal-button:hover {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
