/*container*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*header*/
.page-header {
  border-bottom: solid 1px #ececec;
}
.navigation {
  margin-left: 93px;
}
.navigation {
  margin-left: 93px;
}

.navigation-list {
  display: flex;
}
.navigation-list .navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  transition-duration: 250ms;
  padding-bottom: 32px;
  padding-top: 32px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  transition-duration: 250ms;
  padding-bottom: 32px;
  padding-top: 32px;
  display: flex;
  align-items: center;
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.contact-icon {
  fill: #757575;
  margin-right: 10px;
}
.contact-link:hover .contact-icon {
  fill: var(--accent-color);
}
/*hero*/
.section-hero {
  background-image: linear-gradient(to right, #2f303a66),
    url(../images/background-image.jpg);

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
}
/*feature*/
.feature-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}
.feature-list .feature-item {
  width: 270px;
}
.feature-background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin-top: 30px;
}
.feature-text {
  color: var(--primer-color);
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
/*work*/
.section-work {
  padding-bottom: 94px;
}
.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.work-list{
display: flex;
gap: 30px;
}
.work-list .work-item {
  position: relative;
}
.work-service {
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  align-items: center;
  text-transform: uppercase;
  color: var(--white-color);
  bottom: 0;
  right: 0;
  display: flex;
  position: absolute;
  background-color: #2f303acc;
  justify-content: center;
}
/*command*/
.section-command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.command-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
  text-align: center;
  margin-top: 50px;
}
.command-item {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.command-employees {
  padding-top: 30px;
  padding-bottom: 30px;
}
.command-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.command-person {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.command-description {
  color: var(--primer-color);
  font-size: 16px;
  line-height: 100%;
  margin-top: 10px;
}
/*social*/
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--white-color);
}
.social-link {
      width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
  transition-duration: 250ms;
}
.social-icon {
  display: block;
}
/*company*/
.company-section{
  padding-top: 94px;
  padding-bottom: 94px
}
.company-title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px
}
.company-list{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.company-item:hover {
  border-color: var(--accent-color);
}
.company-link {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-duration: 250ms;
}
.company-link:hover .company-icon,
.company-link:focus .company-icon {
  fill: var(--accent-color);
}
/*footer*/
