.feature{
  padding-top: 94px;
  padding-bottom: 94px;
  &-list{  
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  gap: 30px;
}
&-item{
  width: 270px;
}
&-background{
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}
&-title{
  color:$TitleTextColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  margin-top: 30px; 
}
&-text{
  color:$PrimerColor;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
}
}