.hero {
  background-image: linear-gradient(to right, #2f303a66),
    url(../images/background-image.jpg);

  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  &-title{
     color:$WhiteColor;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  }
  &-button{
      color: #ffffff;
  background-color:$AccentColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 1px solid transparent;
  }
  
}