.page-header {
  border-bottom: solid 1px #ececec;
  position: relative;
  padding: 16px 15px;
}
.menu-button{
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 999;
  & .icon-close{
    display: none;
  }
  &.is-open .icon-close{
display: block;
  }
  &.is-open .icon-menu{
    display: none;
  }
}
.navigation{
 margin-bottom: 302px;
  &-item:not(:last-child){
    margin-bottom: 32px;
  }
  &-link{
        font-size: 40px;
    font-weight: 500;
    line-height: 100%;
    color: #212121;
  }
}
.contact{
  &-item{
    margin-bottom: 32px;
  }
  &-link{
    font-weight: 500;
    font-size: 34px;
    line-height: 100%;
    color: #757575;
  &__number{
    font-size: 24px;
    
  }}
    &-icon{
      display: none;
    }
  
}
.social-header{
  display: flex;
  gap: 20px;
      margin-top: 32px;
    margin-bottom: 48px;
}
.social-link__header{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
// .main-nav {
//   display: flex;
//   align-items: center;
//   padding-bottom: 0;
//   &__logo
//     {
//    color:$AccentColor;
//   font-family: Raleway, sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 100%;}
//   &--accent{  color: #000000;
//   font-family: Raleway, sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 100%;
//  }
//   }
//   .navigation {
//   margin-left: 93px;
//   &-list{
//   display: flex;
// & .navigation-item:not(:last-child){
//   margin-right: 50px;  }
// }
// &-link {
//   color:$TitleTextColor;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 100%;
//   transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
//   padding-bottom: 32px;
//   padding-top: 32px;
//   &:focus, &:hover{
//     color:$AccentColor;
//   }
// }
// }
// .accent{
//   color: $AccentColor;
//   position: relative;
//   &::after{
//     content: "";
//     display: inline-block;
//     height: 4px;
//     width: 100%;
//     background-color:$AccentColor;
//     position: absolute;
//     left: 0;
//     bottom: -1px;
//     border-radius: 2px;
//   }
// }
// .contact {
//   display: flex;
//   margin-left: auto;
// &-item:not(:last-child){
//      margin-right: 50px;
// }
// &-link{
//      color: #757575;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 100%;
//   transition-duration: 250ms;
//     padding-bottom: 32px;
//   padding-top: 32px;
//   display: flex;
//   align-items: center;
//   transition:250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:focus, &:hover{
//     color:$AccentColor;
// }
// }
// &-icon{
//    fill: #757575;
//   margin-right: 10px;
//   .contact-link:hover &{
//     fill:$AccentColor;
//   }  
// }
// }