.work {
  padding-bottom: 94px;
  &-title {
    color: $TitleTextColor;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  &-list {
    display: flex;
    gap: 30px;
    & .work-item {
      position: relative;
    }
  }
  &-service {
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    align-items: center;
    text-transform: uppercase;
    color: $WhiteColor;
    bottom: 0;
    right: 0;
    display: flex;
    position: absolute;
    background-color: #2f303acc;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .work {
    display: none;
  }
}
