img{
      display: block;
  height: auto;
  width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type:none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.section-title{
      color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 50px
}
.section{
  padding-bottom: 94px;
  padding-top: 94px;
}
body {
  font-family: Roboto, sans-serif;
}